* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

img {
    max-width: 100%;
}

:root {
    --primary: #FFFFFF;
    --secondary: #FAFAFA;
    --border: #DBDBDB;
    
    --sotry-border: #C7C7C7;

    --text-dark: #969696;
    --text-light: #999999;
}

:root.darkTheme {
    --primary: #281717;
    --secondary: #050505;
    --border: #262626;
    
    --sotry-border: #707070;

    --text-dark: #FAFAFA;
    --text-light: #999999; 
}